# Backup files
*~
*.swp


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project
SourceCode/build*

# System files
.DS_Store 


/build/*
